*{
  padding: 0;
  margin: 0;
}
.header-one{
  background-image: url(../../public/Headerhero.png);
  background-size: cover;
  height: 950px;
  width: 1920px;
}
.main-one{ 
  background-color: black;
   width: 1920px;
   padding-top: 80px;
}
.first-main{ 
   margin-left: 180px; 
  background-image:url(../../public/Aboutus.png) ;
  background-size: cover;
  width: 1320px;
  height: 562px;
}
.second-main{
  margin: 80px;
  margin-left: 180px; 
  background-image: url(../../public/FoodCatagory.png);
  background-size: cover;
  width: 1792px;
  height: 803px;

}
.third-main{
  margin-left: 180px; 
  background-image:url(../../public/whychoosus.png) ;
  background-size: cover;
  width: 1223px;
  height: 716px;
}
.main-second{
  background-image:url(../../../../../Downloads/Clients.png) ;
  background-size: cover;
  height: 469px;
  width: 1923px;
}
.main-third{
  background-color: black;
  width: 1920px;
}
.first-img{
  background-image: url(../../public/OurMenu.png);
  background-size: cover;
  width: 1320px;
  height: 656px;
 margin-left: 180px;
  

}
.second-img{ 
  background-image: url(../../public/Meetourcheef.png);
  background-size: cover;
  width: 1764px;
  height: 657px;
  top: 4562px;
  left: -144px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  
}
.third-img{
  background-image: url(../../public/Testimonials.png);
  background-size: cover;
  width: 1273px;
  height: 770px;
  top: 5339px;
  margin-left: 180px;
  
}
.main-fourth{
  background-image: url(../../public/RestraindcreativeProcess.png);
  background-size: cover;
  height: 558px;
  width: 1918;
}
.foot-main{
  background-color: black;
  width: 1920px;
}
.foot-one{
  
  background-image: url(../../public/Blog.png);
  background-size: cover;
  width: 1320px;
height: 656px;
margin-left: 180px;
}

.foot-two{
  margin-top: 80px;
  background-image: url(../../public/Footer.png);
  background-size: cover;
  width: 1923.73px;
height: 740.15px;
}